{% extends "layout.html.twig" %}

{% block content %}

    <h1 style="text-shadow: 0 0 5px #58f; color: #005">{{ trans('project_name') }}</h1>
    <p>{{ trans('welcome_paragraph') }}</p>
    <h4>{{ trans('learn_more') }}</h4>
    <ul>
        <li><a href="https://gh.riotgames.com/cbednarski/spark">{{ trans('read_the_docs') }}</a></li>
        <li><a href="http://twig.sensiolabs.org/doc/templates.html">{{ trans('learn_about_twig') }}</a></li>
    </ul>
    <h4>{{ trans('next_steps') }}</h4>
    <p>{{ trans('customize_project') }}</p>
    <pre>
    src/layout/layout.html.twig
    src/pages/index.html.twig
    </pre>

    Standard: {{ locale.standard }}.
    Url-Code: {{ locale.url_code }}.

{% endblock %}
