<ul>
    <li><a href="/{{locale.url_code}}/">Overview</a></li>
    <li><a href="/{{locale.url_code}}/install/">Installation</a></li>
    <li><a href="/{{locale.url_code}}/deployments/">Deployments</a></li>
    <li><a href="/{{locale.url_code}}/tutorial/">Tutorial</a></li>
    <li><a href="/{{locale.url_code}}/plugins/">Plugins</a></li>
    <li><a href="/{{locale.url_code}}/reference/">API Reference</a></li>
    <li><a href="/{{locale.url_code}}/contributing/">Contributing</a></li>
</ul>